#AboutMePicture { 
    text-align: center;
    border: 5px solid red;
}

#AboutMeParagraph {
    text-align: center;
    border: 5px solid black;
}

#Header{
    border: 5px solid black;
}

.Header1 {
    margin-right: 5px;
}